#PORT=Puerto de escucha del servidor
#MONGO_URI=Conexion a la base de datos MongoDB
#JWT_SECRET=Secret key para la generación de tokens JWT
#FRONTEND_URL=Configuración de la URL del frontend para CORS